.home-container, .product-container {
  text-align: center;
  padding: 20px;
}

.search-bar {
  width: 80%;
  margin: 10px auto;
}

.category-list, .product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-card {
  text-align: center;
  padding: 10px;
}

.category-icon {
  font-size: 2rem;
}

.header {
  background: #001529;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 999;
}

.logo {
  color: white;
}










